@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
*{
    font-family: 'Inter', sans-serif;
}
.container{
    box-sizing: border-box;
    width: 90%;
    display: block;
    margin-left: 5%;
}
section{
    font-size: 30px;
}
ul{
    margin-left: -20px;
}
section:first-child{
    border: 2px solid #000;
    padding: 20px;
}
img{
    height: 350px;
    width: 50%;
}
